.text {
  font-size:16px;

  font-weight:bold;
  color:#021e49;

}
.parpadea {

  animation-name: parpadeo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.clase-p-select {
margin-bottom: 10px;
margin-top: 10px;
}

.clase-boton-arterisco {
 border: 0px solid ;
background: #ffffff;
}
.panel {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: transform 300ms;
  z-index: 888;
}


.panel div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffff72e8;
  width: 400px;
  /*height: 400px;*/
  z-index: 1000;
  padding: 30px;
  font-style: italic;
  border: 2px solid lightgray;
  border-radius: 0.375rem;
}

.panel[data-on='on'] {
  transform: scale(1);
}


.panel[data-on='off'] {
  transform: scale(0);
}


h1 {

  margin-bottom: : 1.5rem !important;
}

.mynetwork {

    height: 600px;
    border: 2px solid lightgray;
  }
.mapa { height: 180px; }
.formulario  {
   margin: auto;
  width: 90%;
  border: 2px solid ;
color:#6c757d;
  padding: 5px;
margin-bottom: 5px;
border-radius: 0.375rem;
border-color:#6c757d;
}
select {
  margin: auto;
 width: 90%;
 border: 2px solid ;
border-color:#6c757d;
 padding: 5px;
margin-bottom: 5px;
border-radius: 0.375rem;
color:#6c757d;
}
input {
  margin: auto;
 width: 90%;
 border: 2px solid ;
color:#6c757d;
 padding: 5px;
margin-bottom: 5px;
border-radius: 0.375rem;

border-color:#6c757d;
}

.div-centrado {
  margin: auto;
  width: 100%;
text-align: center;
}
.titulo2 {
 font-size: 1rem;
margin-top: 10px;
}
.padding {

  padding: 0.75rem;
}
.cursiva {

  font-style: italic;
}
.sobre-grafo {

  margin: 10px;
/*width:500px;
clear: both;
z-index: 800;
position: relative;
float:right;
  margin-top: -70px;
        margin-right: 01px;
    -webkit-tap-highlight-color: transparent;
    */
}
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}
.spinner
 {
   z-index: 801;
 position:relative;
 margin-left:50%;
 margin-top:10%;

}
.spinnerOculto {
  z-index: 801;
display: none;
position:relative;
margin-left:50%;
margin-top:10%;
}
.sobre-mapa-2 {
  overflow-x: hidden;
overflow-y: scroll;
height:400px;
line-height: 1em;
}
.botonMenu {
border: none;
outline:none;
}
.botonVerde {
background:#02ff00;
color: #fff
}
.botonRojo {
background:#ff0000;
color: #fff
}
.botonNaranja {
background:#ff8a00;
color: #fff
}
.botonAmarillo {
background:#ffff00;
color: #b3b38c
}
.botonNegro {
background:#000000;
color: #fff
}
.p-PopUp {
  text-align: center;
  }
.oculto {
            display: none;
        }
.visible {
            display:block;
        }
/*.leaflet-popup-content-wrapper {
    background:#2c3e50;
    color:#fff;
    font-size:16px;
    line-height:24px;
    }
.leaflet-popup-content-wrapper a {
    color:rgba(255,255,255,0.5);
    }
   .leaflet-popup-tip-container {
    width:30px;
    height:15px;
    }
  .leaflet-popup-tip {
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    border-top:15px solid #2c3e50;
    }
